@font-face {
    font-family: 'Fira Code';
    src: url("../../node_modules/firacode/distr/woff2/FiraCode-Light.woff2") format('woff2'),
    url("../../node_modules/firacode/distr/woff/FiraCode-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Code';
    src: url("../../node_modules/firacode/distr/woff2/FiraCode-Regular.woff2") format('woff2'),
    url("../../node_modules/firacode/distr/woff/FiraCode-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Code';
    src: url("../../node_modules/firacode/distr/woff2/FiraCode-Medium.woff2") format('woff2'),
    url("../../node_modules/firacode/distr/woff/FiraCode-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Code';
    src: url("../../node_modules/firacode/distr/woff2/FiraCode-SemiBold.woff2") format('woff2'),
    url("../../node_modules/firacode/distr/woff/FiraCode-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Code';
    src: url("../../node_modules/firacode/distr/woff2/FiraCode-Bold.woff2") format('woff2'),
    url("../../node_modules/firacode/distr/woff/FiraCode-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Code VF';
    src: url("../../node_modules/firacode/distr/woff2/FiraCode-VF.woff2") format('woff2-variations'),
    url('../../node_modules/firacode/distr/woff/FiraCode-VF.woff') format('woff-variations');
    font-weight: 300 700;
    font-style: normal;
}

.ace_editor * {
    font-family: 'Fira Code', 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace !important;;
}

.ace_editor {
    height: 428px;
}

.ace_editor.fullScreen {
    height: auto;
    width: auto;
    border: 0;
    margin: 0;
    position: fixed !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
}
