
select,
label.form-check-label,
input.form-check-input,
.nav-item:hover {
    cursor: pointer !important;
}

.inactive-nav:hover {
    background-color: #3e3e3e !important;
}

.draggable:hover {
    cursor: grab;
}

#columnTemplateGroupList {
    max-height: 385px;
    -webkit-overflow-scrolling: touch;
}

#industryDropdownItems{
    height: 300px;
}

.sortByPropertyList,
.sortByPropertyList {
    max-height: 280px;
}

body.fullScreen {
    overflow: hidden;
    /*transform breaks position fixed*/
    transform: none!important;
}

table > thead > tr > td,
table > tbody > tr > td {
    font-size: 12px;
    line-height: 1.6;
    font-weight: 300;
    text-align: center;
    /*direction: ltr;*/
    padding: 0 !
    important;
    vertical-align: middle;
}

.btn-close-sm {
    font-size: 0.70rem;
}