@font-face {
  font-family: Vazir;
  src: url('../../node_modules/vazirmatn/fonts/webfonts/Vazirmatn-Regular.woff2') format('woff2'),
  url('../../node_modules/vazirmatn/fonts/ttf/Vazirmatn-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url('../../node_modules/vazirmatn/fonts/webfonts/Vazirmatn-Bold.woff2') format('woff2'),
  url('../../node_modules/vazirmatn/fonts/ttf/Vazirmatn-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url('../../node_modules/vazirmatn/fonts/webfonts/Vazirmatn-Black.woff2') format('woff2'),
  url('../../node_modules/vazirmatn/fonts/ttf/Vazirmatn-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url('../../node_modules/vazirmatn/fonts/webfonts/Vazirmatn-Medium.woff2') format('woff2'),
  url('../../node_modules/vazirmatn/fonts/ttf/Vazirmatn-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url('../../node_modules/vazirmatn/fonts/webfonts/Vazirmatn-Light.woff2') format('woff2'),
  url('../../node_modules/vazirmatn/fonts/ttf/Vazirmatn-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url('../../node_modules/vazirmatn/fonts/webfonts/Vazirmatn-Thin.woff2') format('woff2'),
  url('../../node_modules/vazirmatn/fonts/ttf/Vazirmatn-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

* {
    font-family: "Vazir", serif;
}

.hidden {
    display: none;
}

::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

::-webkit-scrollbar-track {
    background: lightgray;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 10px;
}
